<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <form action="">
        <label for="namae">First Name: </label>
        <input for="namae" v-model="firstName" />
        <br />
        <label for="namae">Last Name: </label>
        <input for="namae" v-model="lastName" />
      </form>
      <p>Full Name : {{ fullName }}</p>
    </div>
    <script type="module">
      import { createApp } from "https://unpkg.com/vue@3/dist/vue.esm-browser.js";
      createApp({
        data() {
          return {
            firstName: "",
            lastName: "",
          };
        },
        computed: {
          fullName() {
            return this.firstName + " " + this.lastName;
          },
        },
        methods: {},
      }).mount("#app");
    </script>
  </body>
</html>
